@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

:root {
  --primary-color: #EE3524;
  --secondary-color: #7AC142;
  --background: #ffffff;
  --foreground: #515151;
  --forground-two: #151515;
  --md-gray: #787878;
  --sm-gray: #c2c2c2;
  --accent-color: #7AC142;
}

@theme inline {

  --font-sans: "DM Sans", sans-serif;

  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
  --color-foreground: var(--foreground);
  --color-mdgray: var(--md-gray);
  --color-smgray: var(--sm-gray);
  --color-forground-two: var(--forground-two);

  --breakpoint-3xl: 96.875rem;

  --text-6xl: clamp(3.5rem, 6vw, 4.5rem);   /* ~72px */
  --text-5xl: clamp(3.25rem, 5.5vw, 4.25rem); /* ~68px */
  --text-2xl: clamp(1.75rem, 4vw, 2rem);    /* ~32px */
  --text-xl: clamp(1.25rem, 3vw, 1.4375rem); /* ~23px */
  --text-lg: clamp(1.125rem, 2.5vw, 1.1875rem); /* ~19px */
  --text-base: clamp(1rem, 2vw, 1rem);      /* 16px */

}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} 
*/

body {
  background: var(--background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
.container {
  @apply px-[15px] mx-auto;

}
.section-spacing {
  @apply py-[60px] lg:py-[90px] xl:py-[100px] 2xl:py-[120px];
}
.left-spacing {
  @apply pl-[15px] lg:pl-[calc((100%-930px)/2)] xl:pl-[calc((100%-79rem)/2)] 3xl:pl-[calc((100%-96.875rem)/2)];
}

.home-news-swiper {
 .swiper-pagination {
  @apply flex justify-center;
 }
 .swiper-pagination-bullet {
  @apply w-[9px] h-[3px] rounded-full bg-foreground opacity-100;
  border-radius: 4px;
  margin: 0 2px !important;
 }
 .swiper-pagination-bullet-active {
  @apply bg-accent w-[27px];
 }

}

.slideroverlay:after {
  content: "";
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.55) 45.64%, rgba(0, 0, 0, 0.85) 89.56%); 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

}