@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
  --para-color: #515151;
  --primary-color: #EE3524;
  --secondary-color: #7AC142;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --forground-two: #151515;
  --light-dark: #191919;
  --md-gray: #787878;
  --sm-gray: #c2c2c2;
  --light-white: #F5F3F0;
  --accent-color: #7AC142;
  --title-line-height: 1.147058823529412;
  --text19-line-height: 1.526315789473684;
  --text32-line-height: 1.5625;
  --text68-line-height: 0.7352941176470588;
  --spacing-57px: clamp(2rem, 4vw + 0.1em, 57px);
  --spacing-47px: clamp(1.8rem, 3vw + 0.1em, 47px);
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme {
  /* --breakpoint-*: initial; */
  /* --breakpoint-xl: 1400px;
  --breakpoint-3xl: 50rem; */
}

@theme inline {

  --font-sans: var(--font-sans);

  --color-primary: var(--primary-color);
  --color-para-color: var(--para-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
  --color-foreground: var(--foreground);
  --color-mdgray: var(--md-gray);
  --color-smgray: var(--sm-gray);
  --color-forground-two: var(--forground-two);
  --color-light-white: var(--light-white);
  --color-light-dark: var(--light-dark);

  --breakpoint-3xl: 96.875rem;

  --text-6xl: clamp(3rem, 6vw, 4.5rem);
  /* ~72px */
  --text-5xl: clamp(2rem, 5.5vw + 0.2rem, 4.25rem);
  /* ~68px */
  --text-2xl: clamp(1.75rem, 4vw, 2rem);
  /* ~32px */
  --text-xl: clamp(1.4rem, 3vw, 23px);
  /* ~23px */
  --text-lg: clamp(1em, 2.5vw, 1.1875rem);
  /* ~19px */
  --text-base: clamp(0.9rem, 2vw, 1rem);
  /* 16px */

  --text-21: clamp(1.25rem, 4vw, 21px);
  /* ~21px */
  --text-22: clamp(1.25rem, 4vw, 22px);
  /* ~21px */

  /* line-height */
  --lh-title: var(--title-line-height);
  --lh-text19: var(--text19-line-height);
  --lh-text32: var(--text32-line-height);
  --lh-text68: var(--text68-line-height);
  --lh-base: 1;
  --lh-25: 1.5625;

  /* spacing */
  --spacing-27px: clamp(1.6875rem, 3vw + 0.1em, 27px);
  --spacing-30px: clamp(1.5rem, 3vw + 0.1em, 30px);
  --spacing-37px: clamp(2.3125rem, 6vw + 0.1em, 37px);
  --spacing-47px: var(--spacing-47px);
  --spacing-50px: clamp(2em, 4vw + 0.5em, 50px);
  --spacing-57px: var(--spacing-57px);
  --spacing-70px: clamp(4em, 7vw + 0.5em, 70px);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-background: var(--background);





  /* --breakpoint-*: initial; */
  /* --container-max-2xl: 1520px; */
  /* --breakpoint-xl: 40rem; */
  /* --breakpoint-2xl: 90rem; */
  /* --breakpoint-3xl: 95rem; */
  /* --breakpoint-3xl: 95.9375rem; */
  /* --breakpoint-md: 40rem; */
  /* --breakpoint-lg: 50rem;
  --breakpoint-xl: 55rem;
  --breakpoint-2xl: 95rem;
  --breakpoint-3xl: 90rem; */

  /* --container-max-2xl: 20rem; */

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} 
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
  ;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /* iOS momentum scrolling */
  overscroll-behavior: contain;
  @apply dark:bg-black;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #000000; */
    /* --foreground: #ffffff; */
  }
}

.container {
  @apply px-[15px] mx-auto;

}

@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1380px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

@media (min-width: 1700px) {
  .container {
    max-width: 1550px;
  }

}

/* tailwind.config.css or global.css */
.left-container {
  @apply relative mx-auto !pr-0;
  /* no right padding, center horizontally */
  padding-left: 15px;
  /* match base container padding */

  @media (min-width: 992px) {
    max-width: 940px;
  }

  @media (min-width: 1200px) {
    max-width: 1180px;
  }

  @media (min-width: 1300px) {
    max-width: 1280px;
  }

  @media (min-width: 1400px) {
    max-width: 1380px;
  }

  @media (min-width: 1600px) {
    max-width: 1500px;
  }

  @media (min-width: 1700px) {
    max-width: 1550px;
  }
}

.section-spacing {
  @apply py-[60px] lg:py-[90px] xl:py-[100px] 2xl:py-[120px];
}

.left-spacing {
  @apply pl-[15px] lg:pl-[calc((100%-930px)/2)] xl:pl-[calc((100%-79rem)/2)] 3xl:pl-[calc((100%-96.875rem)/2)];
}

.home-news-swiper {
  .swiper-pagination {
    @apply flex justify-center;
  }

  .swiper-pagination-bullet {
    @apply w-[9px] h-[3px] rounded-full bg-foreground opacity-100;
    border-radius: 4px;
    margin: 0 2px !important;
  }

  .swiper-pagination-bullet-active {
    @apply bg-accent w-[27px];
  }

}

.letterSp-3 {
  letter-spacing: -3px;
}

.slideroverlay:after {
  content: "";
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.55) 45.64%, rgba(0, 0, 0, 0.85) 89.56%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

}

.area-of-expertise-thumbs .swiper-slide.swiper-slide-thumb-active .icon-wrapper {
  @apply bg-primary border-none
}

/* .area-of-expertise-thumbs .swiper-slide .exp-icon-div{
  @apply border-b-2 border-b-smgray ;

} */
.area-of-expertise-thumbs .swiper-slide.swiper-slide-thumb-active .exp-icon-div>div {
  @apply border-transparent;
}

.area-of-expertise-thumbs .swiper-slide.swiper-slide-thumb-active:not(.swiper-slide-duplicate) .exp-icon-div {
  @apply border-b-[6px] border-b-primary;
}

.area-of-expertise-thumbs .swiper-slide.swiper-slide-thumb-active:not(.swiper-slide-duplicate) .icon-wrapper {
  @apply bg-primary border-black;
}

.area-of-expertise-thumbs .swiper-slide.swiper-slide-thumb-active .icon-wrapper img {
  @apply brightness-0 invert-100;
}

.area-of-expertise-thumbs.greenslide .swiper-slide.swiper-slide-thumb-active h3 {
  @apply text-white;
}

.area-of-expertise-thumbs.greenslide .swiper-slide.swiper-slide-thumb-active .hoverline {
  @apply w-full;
}

:focus-visible {
  outline: none !important;
}

.sector-slider .swiper-slide-active .sector-description {
  /* @apply h-auto opacity-100 pb-4 xl:pb-[63px]; */
}

.featured-slider .swiper-slide {
  @apply min-h-[250px];
}

@media (max-width: 767px) {
  .onside-margin {
    max-width: 40rem !important;
    margin: auto !important;
  }
}

.square-list {
  list-style-type: square;
}

.square-list li::marker {
  color: var(--color-accent);
}

.history-slider .history-slide {
  @apply flex items-center;
}

/* .sector-slider .slide-active .sector-description {
  opacity: 1 !important;
  height: auto !important;
} */

.key-projects-swiper .swiper-slide .swiper-slide-active {
  @apply scale-140 transition-all duration-300;
}

.key-projects-swiper .swiper-slide .content-box {
  /* @apply opacity-0; */
}

.key-projects-swiper .swiper-slide .swiper-slide-active .content-box {
  @apply opacity-100;
}

.modal-open {
  overflow: hidden !important;
  height: 100vh !important;
}

.modal-open [data-lenis] {
  overflow: hidden !important;
}

header.modal-open {
  @apply relative z-0;
}

.project-slider .swiper-button-next,
.project-slider .swiper-button-prev {
  @apply bg-white/90 rounded-full w-12 h-12 xl:w-20 xl:h-20 flex items-center justify-center;
}

.project-slider .swiper-button-next:after,
.project-slider .swiper-button-prev:after {
  @apply text-2xl text-black font-bold;
}

.project-slider .swiper-button-next,
.project-slider .swiper-button-prev {
  @apply bottom-30px top-[unset];
}

.project-slider .swiper-button-next {
  @apply left-35;
}

.project-slider .swiper-button-prev {
  @apply left-30px;
}

.project-slider .swiper-button-next svg,
.project-slider .swiper-button-prev svg {
  @apply w-5 h-5 xl:w-4 xl:h-4;
}

.project-slider .swiper-button-next:hover::after,
.project-slider .swiper-button-prev:hover::after {
  @apply text-white;
}

.project-slider .swiper-button-next:hover,
.project-slider .swiper-button-prev:hover {
  @apply bg-[#0b0b0b];
}

.project-slider .swiper-button-next:active,
.project-slider .swiper-button-prev:active {
  @apply bg-[#0b0b0b];
}

.project-slider .swiper-button-next:focus,
.project-slider .swiper-button-prev:focus {
  @apply outline-none;
}

.project-slider .swiper-button-next.swiper-button-disabled,
.project-slider .swiper-button-prev.swiper-button-disabled {
  @apply opacity-100 bg-black cursor-not-allowed;
}

.project-slider .swiper-button-next.swiper-button-disabled::after,
.project-slider .swiper-button-prev.swiper-button-disabled::after {
  @apply text-white;
}

.project-slider .swiper-button-next {
  /* @apply right-unset left-0; */
}

@media (max-width: 768px) {
  .project-slider .swiper-button-next {
    @apply left-22;
  }

  .project-slider .swiper-button-prev,
  .project-slider .swiper-button-next {
    @apply top-7;
  }
}


.news-slider .swiper-button-next,
.news-slider .swiper-button-prev {
  @apply bg-white/90 rounded-full w-12 h-12 xl:w-20 xl:h-20 flex items-center justify-center;
  @apply bottom-[30px] top-[unset];
}

/* Explicitly reset Swiper defaults */
.news-slider .swiper-button-next,
.news-slider .swiper-button-prev {
  left: unset !important;
  right: unset !important;
}

/* Now define new positions */
.news-slider .swiper-button-next {
  right: 30px !important;
}

.news-slider .swiper-button-prev {
  right: 125px !important; /* adjust gap as needed */
}

.news-slider .swiper-button-next:after,
.news-slider .swiper-button-prev:after {
  @apply text-2xl text-black font-bold;
  @apply text-[#7AC142];
}

.news-slider .swiper-button-next svg,
.news-slider .swiper-button-prev svg {
  @apply w-5 h-5 xl:w-4 xl:h-4;
}

.news-slider .swiper-button-next:hover::after,
.news-slider .swiper-button-prev:hover::after {
  @apply text-[#7AC142];
}

.news-slider .swiper-button-next:hover,
.news-slider .swiper-button-prev:hover {
  @apply bg-[#0b0b0b];
}

.news-slider .swiper-button-next:active,
.news-slider .swiper-button-prev:active {
  @apply bg-[#0b0b0b];
}

.news-slider .swiper-button-next:focus,
.news-slider .swiper-button-prev:focus {
  @apply outline-none;
}

.news-slider .swiper-button-next.swiper-button-disabled,
.news-slider .swiper-button-prev.swiper-button-disabled {
  @apply opacity-100 bg-black cursor-not-allowed;
}

.news-slider .swiper-button-next.swiper-button-disabled::after,
.news-slider .swiper-button-prev.swiper-button-disabled::after {
  @apply text-[#7AC142];
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .news-slider .swiper-button-next,
  .news-slider .swiper-button-prev {
    @apply bottom-[30px] top-[unset];
  }

  .news-slider .swiper-button-next {
    right: 22px !important;
  }

  .news-slider .swiper-button-prev {
    right: 80px !important;
  }
}



.aislider .swiper-wrapper {
  align-items: end;
}

.libullet li::before {
  content: "";
  @apply w-2 h-2 rounded-full bg-primary;
}

.afterbgf::after {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0.33) 45.64%, rgba(0, 0, 0, 0.51) 89.56%);
}

/* Light */
.react-select__placeholder,
.react-select__single-value {
  color: black;
}

/* Dark */
.dark .react-select__placeholder,
.dark .react-select__single-value {
  color: white;
}

.select-down-arrow {
  color: black;
}

.dark .select-down-arrow {
  color: white;
}

.year-navigation-slider {
  overflow: visible !important;
}

.year-navigation-slider .swiper-wrapper {
  transition-timing-function: ease-in-out !important;
}

.year-navigation-slider .swiper-slide {
  transition: all 0.3s ease;
}

.history-slider .swiper-slide {
  transition: opacity 0.5s ease-in-out;
}

.history-slider .swiper-wrapper {
  transition-timing-function: ease-in-out !important;
}

.job-detail-responsibility {
  h3 {
    @apply text-lg font-medium text-para-color dark:text-white -mb-3;
  }

  ol {
    @apply list-inside space-y-3;
    list-style-type: square;

    li {
      @apply text-lg font-light text-para-color dark:text-white/70 lg:pl-5;

      &::marker {
        color: var(--color-accent);
      }
    }
  }
}


@media (max-width: 768px) {
  .year-navigation-slider {
    max-width: 630px;
  }
}

@media (max-width: 640px) {
  .year-navigation-slider {
    max-width: 400px;
  }
}

/* .sliderexp.swiper-slide-visible.swiper-slide-active .exp-icon-div{
  border-bottom: 6px solid var(--color-primary);
} 
  */

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Global styles for active slide */
.slide-active-class {
  opacity: 1;
}

/* Initially hide content inside slides */
.itmmn .slide-content {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* When slide is active, show content */
.slide-active-class .slide-content {
  opacity: 1;
}

.ai-technology-items {
  h3 {
    @apply text-lg font-medium text-foreground dark:text-white;
  }

  ol {
    @apply text-white;
    list-style-type: square;

    li {
      @apply mb-2 last:mb-0 flex items-center gap-2 text-base capitalize;

      &::before {
        content: "";
        @apply w-2 h-2 bg-secondary;
      }

      &::after {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0.33) 45.64%, rgba(0, 0, 0, 0.51) 89.56%);
      }
    }
  }
}

.blog-details{
  h3 {
    @apply text-2xl font-normal mb-5 xl:mb-[27px] text-foreground dark:text-white mt-[47px];
  }

  p{
    @apply mb-5 xl:mb-6 text-lg font-normal text-foreground dark:text-white/70;
  }

  ol {
    @apply list-inside space-y-3 xl:space-y-4 dark:text-white;
    list-style-type: square;

    li {
      @apply text-lg font-normal font-light text-foreground dark:text-white/70;
    
     &::marker{
      color: var(--color-accent);
     }
    }

    
  }
}

.news-details{
  p{
    @apply mb-5 xl:mb-[27px] text-lg xl:text-21 leading-[1.380952380952381] font-normal text-[#515151] dark:text-white/70;

  }
}


